.App-header {
  background-color: #222;
  padding-bottom: 0.5rem;
  color: white;
  position: fixed;
  width: 100%;
  /* border: solid black 2px; */
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-main {
  padding-top: 7rem;
  background-color: #e6ecf0;


}

* {
  background-color:aquamarine;
  margin: 0 auto;
  max-width: 40em;
  line-height: 1.5;
  padding: .1em .25em;
}